# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Google Auth Tokens
**/tokens/
StoredCredential

# Google Credentials
credentials.json
**/src/main/resources/credentials.json